.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center; /* Zentriert die Elemente vertikal */
  justify-content: space-around; /* Verteilt die Elemente gleichmäßig mit Platz dazwischen */
  padding: 20px; /* Fügt Platz um die Ränder hinzu */
  font-size: calc(10px + 2vmin);
  color: white;
}

.StatusIndicatorHelper {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.label-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ausrichtung der Labels am Anfang */
  padding: 10px; /* Fügt etwas Platz um die Labels herum hinzu */
}

.label-list div {
  cursor: pointer; /* Ändert den Mauszeiger, wenn Sie über ein Label fahren */
  margin-bottom: 5px; /* Fügt etwas Platz zwischen den Labels hinzu */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}