.App {  
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "StatusIndicator LiveFeed LabelList"
    "Footer Footer Footer";
  text-align: center;
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
}

.Header { grid-area: Header; }

.LiveFeed {
  grid-area: LiveFeed; 
  position: relative;
}

.webcamStyle, .canvasStyle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 640px;
  height: 480px;
}

.webcamStyle {
  z-index: 8;
}

.canvasStyle {
  z-index: 9;
}

.StatusIndicator {
  grid-area: StatusIndicator; 
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.LabelList { 
  grid-area: LabelList;
}

.Footer { grid-area: Footer; }

.LabelButton {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 20px; 
  cursor: pointer; 
  background-color: #f8f8f8; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s; 
}

.LabelButton:hover {
  background-color: #ececec; 
}

.label-list {
  display: flex;
  flex-direction: column;
  padding: 10px; 
}

.label-list div {
  cursor: pointer; 
  margin-bottom: 5px; 
}